* {
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
}
#header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: small;
  border-bottom: 4px solid #7bae23;
}
.stripHeader {
  color: #000;
  text-transform: capitalize;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d7dbdd;
  height: 25px;
}

.containerHeader {
  margin: 0 10vw 0 auto;
  order: 2;
}
.containerHeader > * {
  padding-left: 0.5vw;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 13px;
}

.main {
  margin: 10px auto;
  width: 1100px;

}
* {
  font-family: Sans-Serif;
}
.main1{
  display: none;
  /* flex: 1 !important; */
}


.person {
  display: none;
}

/* top head and search box styling */
.navMain {
      margin-top: 30px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img {
  max-height: 35px !important;
}

.textBox {
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 4px;
  margin-right: 16px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin: 0;
  width: 300px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btnSearch {
  box-sizing: border-box;
  width: 60px;
  height: 35px;
  right: 100px;
  color: white;
  background-color: red;
  border: 0px solid red;
}
.closebtn,
.menuButton {
  display: none;
}
.cart {
  right: 50px;
  font-size: 40px;
}
.cartCount {
  position: absolute;
  color: white;
  margin: -15px 0 0 -10px;
  background: tomato;
  border-radius: 40px;
  width: 20px;
  text-align: center;
  align-items: center;
  font-size: 18px;
}

/* navigation styling  */
nav {
  background-color: #7bae23;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 25px;
  display: inline-block;
  padding: 10px 0;
  
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0px 0px;
  font-size: 12px;
}

/* navigation bar styling  */
.nav-wrapper {
  position: relative;
}
.sidenav ul li a:hover {
  color: #f1f1f1;
}
.sidenav {
  position: relative;
}
.sidenavMenu {
  display: none;
}

/* More block styling  */
.MoreBlock {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.71);
  border-top: 10px solid skyblue;
  z-index: 20;
  width: calc(100% - 40px);
  position: absolute;
  display: none;
  padding: 20px;
}


/* slider styling  */
.main-images {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}


.main-images2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.main-images * {
  margin: 2px 2px 0 0px;
}
.main-images1 div img {
  width: 300px;
  height: 230px;
}
.main-images2 img {
  width: 790px;
  height: 470px;
}



/* slider styling  Endddd */

/* features styling */

.features {
  display: flex;
  flex-direction: row;
  /* height: 150px; */
  justify-content: space-between;
}
.features1,.features2 ,.features3{
  margin: 40px 0px 0 0;
}

.features1Body {
  display: flex;
  flex-direction: row;
}

.features1Body div {
  width: 280px;
}
.features1Body i {
  margin: 10px 10px 0 10px;
}
.features1Body p {
  margin-top: 14px;
  font-size: 12px;
  overflow-wrap: break-word;
  color: rgb(179, 178, 178);
}



.features2Body {
  display: flex;
  flex-direction: row;
  margin-left: 1px;
}

.features2Body div {
  width: 200px;
}
.features2Body i {
  margin: 10px 10px 0 10px;
}
.features2Body p {
  margin-top: 10px;
  font-size: 12px;
  overflow-wrap: break-word;
  color: rgb(179, 178, 178);
}

.features3Body {
  display: flex;
  flex-direction: row;
  margin-left: 1px;
}

.features3Body div {
  width: 200px;
}
.features3Body i {
  margin: 10px 10px 0 10px;
}
.features3Body p {
  margin-top: 10px;
  font-size: 12px;
  overflow-wrap: break-word;
  color: rgb(179, 178, 178);
}
/* features sryling end */

.FMCGgoods {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 246, 246, 0.829);
  margin-top: 30px;
}
.FMCG2 ul {
  display: flex;
  flex-direction: row !important;
  list-style-type: none;
  margin: 20px 10px 10px 10px;
}
.FMCG2 ul > div > li {
  margin-right: 25px;
}
.FMCG2 ul > div {
  display: flex;
  flex-direction: row;
}

.FMCG2_1Text {
  margin-left: 10px;
}
.FMCG2_1Text a {
  text-decoration: none;
  font-size: small;
  color: rgb(158, 157, 157);
  font-weight: bold;
}
.FMCG2_1Text div {
  margin-top: 3px;
  text-decoration: none;
}
.FMCG2_1Text div > input {
  /* float: right; */
  margin-left: 80px;
  background-color: rgb(233, 89, 36);
  border-color: tomato;
  color: white;
  border-radius: 19px;
  height: 35px;
  text-align: center;
  width: 120px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.FMCG2_1Text div > span {
  color: rgb(158, 157, 157);
  font-size: small;
}
.FMCG2_1Text h4 {
  font-size: large;
}
.FMCGimg {
  width: 260px;
}
.FMCGimg:hover {
  padding: 2px;
  box-shadow: 5px 5px 8px 4px gray;
}

.slider {
  display: flex;
  overflow-x: hidden;
}

.slide {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
}
.FMCG1 {
  margin: 20px;
}
.FMCG1 .txt {
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 20px;
  text-transform: uppercase;
}
.radioBtns {
  margin-top: 20px;
  float: right;
  border: 0px;
  width: 70px;
  /* height: 3em; */
}

/* categories */

.categoriesWrapper {
  background-color: rgba(250, 246, 246, 0.829);
  display: inline-block;
  width: 100%;
  /* margin-top: 50px; */
}
.categories-wrapper-column {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.categoriesWrapper > h3 {
  padding-top: 30px;
  padding-left: 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}
.categories {
  margin-top: 50px;
  width: 100%;

  justify-content: space-between;
  /* margin-left: 20px !important; */
  /* justify-content: flex-end; */
}
.column1 {
  margin-right: 30px;
}
.categories,
.column1_ > div,
.column2_ > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.column1_ > div,
.column2_ > div {
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 2px;
}
.column1_ > div > div > img,
.column2_ > div > div > img {
  width: 200px;
  height: 200px;
}
.column1_Text {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-bottom: 10px;
}
.angleIcon {
  position: relative;
  top: 80px;
  margin-left: 40px;
  color: #9da6aa;
  font-style: normal;
  font-size: 40px;
}
.heading > span {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
}

.heading > p {
  color: #9da6aa;
}

.para {
  margin-top: 50px;
  background-color: rgba(250, 246, 246, 0.829);
  padding: 25px;
}
.para h1 {
  color: black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.para p {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #9da6aa;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* footer */
.footerContainer {
  margin: 10px auto;
  width: 90%;
}
.page_footer {
  height: 400px;
  background-color: #272723;
  display: flex;
  flex-direction: column;
  color: white;
}
.footerBox1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}
.horizontalLine {
  margin: 10px;
}
.footerBox2 {
  margin-top: 40px;
}
.footerBox1 div ul * {
  text-decoration: none;
  list-style-type: circle;
  color: white;
}

.box3Footer ul {
  margin-left: -10px;
}
.box3Footer ul li {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin-left: 100px;
  margin: 0;
  padding: 0;
}
.footerBox1 div ul *:hover {
  text-decoration: underline;
}

.footerBox1 div {
  margin-top: 20px;
}
.footerBox1 div ul {
  margin-top: 10px;
}
.footerBox1 div ul li {
  margin-left: 14px;
}
.horizontalLine {
  margin: 10px 0;
}
.googlePlay {
  width: 50%;
  height: 50%;
  margin-top: 20px;
}
.appStore {
  width: 50%;
  height: 50%;
  margin-top: 20px;
}

/* //media queries for 1000px */
@media screen and (max-width: 1000px) {
  .logo img {
    width: 138px;
    height: 30px;
  }
  #header {
    border-bottom: none;
  }
  .strip {
    display: none;
  }

  .searchBar .btnSearch {
    width: 70px;
    height: 30px;
  }
  .searchBar .textBox {
    width: 320px;
    height: 10px;
    color: white;
  }
  .slider {
    display: none;
  }
  .googlePlay {
    width: 50%;
    height: 50%;
    margin-top: 20px;
  }
  .appStore {
    width: 50%;
    height: 50%;
    margin-top: 20px;
  }
}
/* meda queries for 600px */
@media screen and (max-width: 600px) {

  
  .main {
  margin: 0px auto;
  width: 300px;
  display: flex;
  flex-direction: row;
}
.main2{
  margin-left: 10px;
  width: 340px;
}
.main1{
  display: block;
  margin-left: -135px !important;
}
  .logo img {
    width: 120px;
    height: 22px;
  }
  .menuButton {
    display: inline;
  }
  #mySidenav{
    display: none;
  }
  #mySidenav-mbl {
    margin: 0;
    height: 100vh; 
    width: 0%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #7bae23;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding: 10px; */
  }
  
  .sidenavMenu-mbl {
    /* top: 200px; */
    display: inline-block;
    margin-top: 10px;
    right: 100px;
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
  }

  .closebtn-mbl {
    display: inline;
    top: 0;
    font-size: 36px;
    float: right;
    text-decoration: none;
    color: white;
    padding-right: 10px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .sidenav-mbl .mbl-ul {
    flex-direction: column;
  }
  nav ul{
    padding-left: 10px;
  }

  .sidenav ul li a:hover {
    color: #f1f1f1;
  }
  .fa {
    font-size: 24px;
  }
  
  .navMain {
    display: flex;
    flex-wrap: wrap;
  }
  .navMain :nth-child(1) {
    order: 1;
  }
  .navMain :nth-child(5) {
    /* margin-right: 10px; */
    order: 3;
    font-size: 8px;
    margin-right: 5px;
  }
  .navMain :nth-child(3) {
    order: 2;
    display: block;
    margin-left: 60px;
  }
  .navMain :nth-child(4) {
    /* flex-basis: 100%; */
    height: 0;
    order: 3;
    display: none;
  }
  .navMain :nth-child(2) {

    order: 4;
    margin-left: 10px;
  }


  .searchBar .btnSearch {
    width: 16vw;
    height: 35px;
  }
  .searchBar .textBox {
    width: 72vw;
    height: 35px;
    color: black;
  }
  .googlePlay {
    width: 30%;
    height: 50%;
    margin-top: 20px;
  }
  .appStore {
    width: 30%;
    height: 50%;
    margin-top: 20px;
  }
  .page_footer {
    height: auto;
  }
  .footerBox1 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  
/* slider start */
  .main-images {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
  }
  .main-images * {
    margin: 2px;
  }

  .main-images :nth-child(1) {
    order: 2;
    width: 100%;
    height: calc(330px/2);
  }
  .main-images :nth-child(2) {
    order: 1;
  }
  .main-images1 {
    display: flex;
    flex-direction: row;
  }
  .main-images1 div img {
    /* width: 47vw !important; */
    height: calc(44vw/2);
  }
/* slider end */
  .features {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .features * {
    /* width: auto; */
    padding: 5px 0;
    background-color: #f1f4f5;
  }
  .features1Body p {
    /* width: 200px; */
    font-size: 12px;
    overflow-wrap: break-word;
  }
  .features2Body p {
    width: 200px;
    font-size: 12px;
    overflow-wrap: break-word;
  }
 

  /* FMCG good display none becuase it is not performing well */
  .FMCGgoods {
    display: none;
    margin-top: 50px;
    width: 100vw;
  }

.categories-wrapper-column{
  display: flex;
  flex-direction: column !important;
}
  .categoriesWrapper {
    margin-top: 50px;
    /* width: 100vw; */
  }
  .categories {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .column1_{
    width: 100%;
  }
  .column1{
    margin-top : 20px;
  }
  .column1_ > div,
  .column2_ > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
 margin-left: 15px;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    width: 322px;
    border-radius: 2px;
  }
  .column1_ > div > div > img,
  .column2_ > div > div > img {
    width: 150px;
    height: 150px;
  }
  .heading > span {
    display: inline-block;
    margin-top: 45px;
    font-size: 12px;
    font-weight: bold;
  }
  .heading > i {
    font-size: 20px;
    float: right;
    margin-top: 45px;
    padding-right: 35px;
    color: #9da6aa;
  }
  .heading > p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .angleIcon{
    margin-right: 5px;
  }
  .para{
    display: none;
  }
}